.admin{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 20px 0;
}

.admin .sec-products{
    background-color: #fff;
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
   
}
.admin .parent{
    display: flex;
}



.admin .sec-products{
    flex: 2;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.admin .sec-discount{
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px;  
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    
}

.btn{
    margin-top: 20px;

}