.catalog{
   padding-left: 110px;
   padding-right: 100px;
   padding-top: 50px;
   padding-bottom: 75px;
    background-color: rgb(194, 231, 248);
    border-radius: 250px;

 
}
h1{
    padding-top: 50px;
    font-size: 1.5em;
    color: blue;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px 0 #000;

}

.subtitle{
    background-color: none;
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}