.product{
    display: inline-block;
    margin: 10px;
    width: 274px;
    height: 440px;
    border: 2px solid blue;

}


.product .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    

   
}

.product .price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: blue;
    text-align: center;
    letter-spacing: 2px;
}

.product .total{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: blue;
    text-align: center;
}

.product .quantity{
    margin-left: 70px;
}

 .add .btn{
    border: 2px;
    border-radius: 20px;
    background-color: rgb(154, 215, 250);
    font-size: 20px;
    font-weight: bold;
    margin-left: 110px;
    text-transform: uppercase;
    color: blue;
    text-shadow: 2px 2px 3px rgb(154, 215, 250);
    text-align: center;
    letter-spacing: 2px;


 

}