.wishList{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 100%;

    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}


